In [ ]:
# --- Variables and Data Types ---
# Define variables of various types.

product_name = 'milk'       # String variable
quantity_sold = 10               # Integer variable
price_per_unit = 20.0           # Float variable
in_stock = True                 # Boolean variable

In [ ]:
print(type(product_name))
print(type(quantity_sold))
print(type(price_per_unit))
print(type(in_stock))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
print("This is the product:",product_name)
print("Quantity Sold:", quantity_sold)
print("Price per Unit:", price_per_unit)
print("In Stock:", in_stock)
print()

This is the product: milk
Quantity Sold: 10
Price per Unit: 20.0
In Stock: True

In [ ]:
fruits = ["Apple", "Banana", "Cherry"]
print("List of Fruits:", fruits)
# Accessing elements
print("First Fruit:", fruits[0])
# Modifying list elements
fruits.append("Orange")  # Add an element
print("Updated List:", fruits)

person = {
    "name": "Alice",
    "age": 25,
    "city": "Cairo"
}
print("\nPerson Dictionary:", person)
# Accessing values
print("Name:", person["name"])
print("Age:", person.get("age"))
# Modifying dictionary
person["age"] = 26  # Update age
person["job"] = "Engineer"  # Add new key-value pair
print("Updated Dictionary:", person)

List of Fruits: ['Apple', 'Banana', 'Cherry']
First Fruit: Apple
Updated List: ['Apple', 'Banana', 'Cherry', 'Orange']

Person Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Cairo'}
Name: Alice
Age: 25
Updated Dictionary: {'name': 'Alice', 'age': 26, 'city': 'Cairo', 'job': 'Engineer'}

In [ ]:
# --- Data Structures ---

# Lists store an ordered collection of items.
products = ["Product A", "Product B", "Product C"]
print("Products List:", products)
print(type(products))
print("First value in the list: ",products[1])
print("Last value in the list: ",products[-2])
print("Length of the list: ",len(products))
print()


# Dictionaries store key-value pairs.
prices = {"Product A": 20.0, "Product B": 30.0, "Product C": 25.0}
print("Prices Dictionary:", prices)
print(type(prices))
print("Value associated with 'Product A':", prices["Product C"])
print("Keys in the dictionary:", prices.keys())
print("Values in the dictionary:", prices.values())
print("Number of items in the dictionary:", len(prices))
print()

Products List: ['Product A', 'Product B', 'Product C']
<class 'list'>
First value in the list:  Product B
Last value in the list:  Product B
Length of the list:  3

Prices Dictionary: {'Product A': 20.0, 'Product B': 30.0, 'Product C': 25.0}
<class 'dict'>
Value associated with 'Product A': 25.0
Keys in the dictionary: dict_keys(['Product A', 'Product B', 'Product C'])
Values in the dictionary: dict_values([20.0, 30.0, 25.0])
Number of items in the dictionary: 3

In [ ]:
price_list = list(prices.values())
print("Price List:", price_list)
print()

Price List: [20.0, 30.0, 25.0]

In [ ]:
list1 = [1, 2, 3]
list2 = ["a","b"]

product_list = dict(zip(list2, list1))
print("Product dict:", product_list)
print()

Product dict: {'a': 1, 'b': 2}

In [ ]:
var1 = 10
var2 = int(var1)
print("var2:", var2)
print(type(var2))
print()

var2: 10
<class 'int'>

In [ ]:
# If statement with multiple conditions
score = 85

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(f"Score: {score}, Grade: {grade}")

Score: 85, Grade: B

In [ ]:
fruits = ["Apple", "Banana", "Cherry", "Orange"]
for fruit in fruits:
    print("Fruit:", fruit)

for num in range(1, 6):  # Loops from 1 to 5
    print("Number:", num)

Fruit: Apple
Fruit: Banana
Fruit: Cherry
Fruit: Orange
Number: 1
Number: 2
Number: 3
Number: 4
Number: 5

In [ ]:
count = 5
while count > 0:
    print("Countdown:", count)
    count -= 1

password = ""
while password != "1234":
    password = input("Enter password: ")
print("Access Granted!")

Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Enter password: 1234
Access Granted!

In [ ]:
# --- Loops and Conditionals ---
for i in ["A", "z","C"]:
  if i == "B":
    print(i)
  elif i == "C":
    print("C is Found", i)
  elif i == "D":
    print("D is Found", i)
  else:
    print("nothing is found")
print()

nothing is found
nothing is found
C is Found C

In [ ]:
quantity_sold = 0
while quantity_sold <= 10:
    print("Quantity Sold:", quantity_sold)
    quantity_sold += 1
print()

Quantity Sold: 0
Quantity Sold: 1
Quantity Sold: 2
Quantity Sold: 3
Quantity Sold: 4
Quantity Sold: 5
Quantity Sold: 6
Quantity Sold: 7
Quantity Sold: 8
Quantity Sold: 9
Quantity Sold: 10

In [ ]:
products = ["Product A", "Product B", "Product C"]
prices = {"Product A": 20.0, "Product B": 30.0, "Product C": 25.0}

threshold_revenue = 150
print("Products exceeding the threshold revenue (assuming 10 units sold):")

for product in products:
    estimated_revenue = prices[product] * 10
    if estimated_revenue > threshold_revenue:
        print(f"estimated revenue = {estimated_revenue}")
print()

Products exceeding the threshold revenue (assuming 10 units sold):
estimated revenue = 200.0
estimated revenue = 300.0
estimated revenue = 250.0

In [ ]:
quantity_sold = 0
while quantity_sold < 20:
    quantity_sold += 1
    print(f"Quantity Sold: {quantity_sold}")

Quantity Sold: 1
Quantity Sold: 2
Quantity Sold: 3
Quantity Sold: 4
Quantity Sold: 5
Quantity Sold: 6
Quantity Sold: 7
Quantity Sold: 8
Quantity Sold: 9
Quantity Sold: 10
Quantity Sold: 11
Quantity Sold: 12
Quantity Sold: 13
Quantity Sold: 14
Quantity Sold: 15
Quantity Sold: 16
Quantity Sold: 17
Quantity Sold: 18
Quantity Sold: 19
Quantity Sold: 20

In [ ]:
# --- Functions ---
def calculate_discount(revenue, discount_rate=0.1):
  discount = revenue * (1 - discount_rate)
  return discount

def greet():
    print("Hello, welcome to AI programming!")

def add(a, b):
    return a + b

def rectangle_area_perimeter(length, width):
    area = length * width
    perimeter = 2 * (length + width)
    return area, perimeter

In [ ]:
greet()  # Calling the function

result = add(5, 3)
print("Sum:", result)

a, p = rectangle_area_perimeter(5, 3)
print("Area:", a, "Perimeter:", p)

original_revenue = 200.0
discounted_revenue = calculate_discount(original_revenue, 0.2)
print("Original Revenue:", original_revenue)
print("Discounted Revenue (10% off):", discounted_revenue)

Hello, welcome to AI programming!
Sum: 8
Area: 15 Perimeter: 16
Original Revenue: 200.0
Discounted Revenue (10% off): 160.0